In [1]:
import pandas as pd
import numpy as np

# 示例数据生成
nyc_zip_codes = [f'100{str(i).zfill(2)}' for i in range(1, 18)]  # 10001 - 10017
jc_zip_codes = ['07097', '07302', '07303', '07304', '07305', '07306', '07307', '07308', '07310', '07311', '07395', '07399']
hours = list(range(24))

# 创建 New York City 和 Jersey City 的价格
nyc_price_segments = [round(np.random.uniform(0.10, 0.15), 3),  # 0-7小时
                      round(np.random.uniform(0.15, 0.20), 3),  # 8-15小时
                      round(np.random.uniform(0.20, 0.25), 3) ]  #
nyc_prices = np.array([nyc_price_segments[int(i / 8)] for i in range(24)])
jc_discount = round(np.random.uniform(0.01, 0.03), 3)
jc_prices = np.round(nyc_prices - jc_discount, 3)

# 创建数据框
energy_prices_nyc = pd.DataFrame({
    'zipcode': np.repeat(nyc_zip_codes, 24),
    'hour_of_day': hours * 17,
    'price': np.tile(nyc_prices, 17)
})

energy_prices_jc = pd.DataFrame({
    'zipcode': np.repeat(jc_zip_codes, 24),
    'hour_of_day': hours * len(jc_zip_codes),
    'price': np.tile(jc_prices, len(jc_zip_codes))
})

# 合并数据框
energy_prices_full = pd.concat([energy_prices_nyc, energy_prices_jc], ignore_index=True)

# 现在，energy_prices_full 包含完整的数据集
energy_prices_full

    zipcode  hour_of_day  price
0     10001            0  0.108
1     10001            1  0.108
2     10001            2  0.108
3     10001            3  0.108
4     10001            4  0.108
..      ...          ...    ...
691   07399           19  0.184
692   07399           20  0.184
693   07399           21  0.184
694   07399           22  0.184
695   07399           23  0.184

[696 rows x 3 columns]

In [5]:
def generate_insert_statements(dataframe):
    """
    Generate SQL INSERT statements for each row in the provided DataFrame.

    Args:
    dataframe (pd.DataFrame): DataFrame containing the data to insert into the database.

    Returns:
    list: A list of SQL INSERT statements as strings.
    """
    template = "INSERT INTO energy_price(zipcode, hour_of_day, price) VALUES ('{zipcode}', {hour_of_day}, {price});"
    statements = []

    for _, row in dataframe.iterrows():
        statement = template.format(zipcode=row['zipcode'], hour_of_day=row['hour_of_day'], price=row['price'])
        statements.append(statement)

    return statements

# 使用之前创建的完整数据集生成插入语句
insert_statements = generate_insert_statements(energy_prices_full)

# 打印前10条插入语句作为示例
for statement in insert_statements[:10]:
    print(statement)

with open('price_gen.sql', 'w') as file:
     for statement in insert_statements:
         file.write(statement + '\n')

INSERT INTO energy_price(zipcode, hour_of_day, price) VALUES ('10001', 0, 0.108);
INSERT INTO energy_price(zipcode, hour_of_day, price) VALUES ('10001', 1, 0.108);
INSERT INTO energy_price(zipcode, hour_of_day, price) VALUES ('10001', 2, 0.108);
INSERT INTO energy_price(zipcode, hour_of_day, price) VALUES ('10001', 3, 0.108);
INSERT INTO energy_price(zipcode, hour_of_day, price) VALUES ('10001', 4, 0.108);
INSERT INTO energy_price(zipcode, hour_of_day, price) VALUES ('10001', 5, 0.108);
INSERT INTO energy_price(zipcode, hour_of_day, price) VALUES ('10001', 6, 0.108);
INSERT INTO energy_price(zipcode, hour_of_day, price) VALUES ('10001', 7, 0.108);
INSERT INTO energy_price(zipcode, hour_of_day, price) VALUES ('10001', 8, 0.158);
INSERT INTO energy_price(zipcode, hour_of_day, price) VALUES ('10001', 9, 0.158);